{% extends 'fms/base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'identity/css/index.css' %}">

{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="form-wrapper col-10 col-md-6 col-lg-4">
        <form action="{% url 'authenticate_user' %}" method="POST" class="form">
            {% csrf_token %}
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <div class="mb-3 text-center">
                <button type="submit" class="btn btn-primary col-12">Login</button>
            </div>
        </form>
        <div class="identity-utils mt-3 text-center">
            <a href="" class="me-3" data-bs-toggle="modal" data-bs-target="#reset-pwd-modal">Forgot
                password?</a><br>
            <a href="{% url 'signup_user' %}">Don't have an account yet?</a>
        </div>
    </div>
</div>
<!--reset password modal-->
<div class="modal reset-pwd-modal" id="reset-pwd-modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Reset Password</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}